@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-bg: #1F1F1F;
}

body {
  background-color: var(--black-bg);
  color: white;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none; /* Désactive le pull-to-refresh sur mobile */
}

/* Scrollbar invisible mais fonctionnelle */
::-webkit-scrollbar {
  display: none;
}
